<Page.actionBar>
    <ActionBar class="action-bar" title="Choose a device">
    </ActionBar>
    <PullToRefresh (refresh)="refreshList($event)">
        <ListView [items]="this.blthService.getDevices()">
            <ng-template let-item="item">
                <StackLayout orientation="horizontal"  class="device-label" (tap) = "this.blthService.connect(item.uuid)">
                    <Image src="~/images/signal_3.png" class="device-signal"></Image>
                    <StackLayout class="device-desc">
                        <Label [text]='item.name == null ? "Unknown device name" : item.name' class="device-name h3"></Label>
                        <Label [text]='item.UUID' class="device-uuid h4"></Label>
                        <Label [text]='item.RSSI' class="device-uuid h4"></Label>
                    </StackLayout>
                </StackLayout>

            </ng-template>
        </ListView>
    </PullToRefresh>
    <StackLayout *ngIf="this.blthService.getDevices().length === 0" class="no-device">
        <Image src="~/images/no-device.png"></Image>
        <Label text="No devices found" class="h3"></Label>
    </StackLayout>
</Page.actionBar>